<!-- we will learn directives here  -->

<!-- Start In-build attribute directives  -->

<!-- Start ngStyle directive  -->
<h3 [ngStyle]="currentStyles">This styling is done using ngStyle directive</h3>
<!-- End ngStyle directive  -->

<!-- Start ngClass directive  -->
<button [ngClass]="{'boundary':true,'text-col':true,'back-col':true}">NgClass Button</button>
<!-- End ngClass directive  -->

<!-- Start ngModel directive  -->
Enter the value : <input [(ngModel)]="val">
Entered value is : {{val}}
<!-- End ngModel directive  -->

<!-- End In-build attribute directives  -->

<!-- Start Built-in structural directives  -->

<!-- Start ngIf and ngFor directive  -->
<div *ngIf="listOfPlayer.length >0">
  <h3>List is there</h3>
  <div *ngFor="let player of listOfPlayer">
    <ul><li>{{player}}</li></ul>
  </div>
</div>
<div *ngIf="listOfPlayer.length ==0">
  <h3>List is empty</h3>
</div>
<!-- End ngIf and ngFor directive  -->

<!-- Start ngSwitch directive  -->
<br>Enter the day : <input [(ngModel)]="day">
<div [ngSwitch]="day">
  <h3 *ngSwitchCase="'Sunday'">Sunday is displayed</h3>
  <h3 *ngSwitchCase="'Monday'">Monday is displayed</h3>
  <h3 *ngSwitchCase="'Tuesday'">Tuesday is displayed</h3>
  <h3 *ngSwitchCase="'Wednesday'">Wednesday is displayed</h3>
  <h3 *ngSwitchCase="'Thursday'">Thursday is displayed</h3>
  <h3 *ngSwitchCase="'Friday'">Friday is displayed</h3>
  <h3 *ngSwitchCase="'Saturday'">Saturday is displayed</h3>
  <h3 *ngSwitchDefault>Not a valid day is displayed</h3>
</div>


